body {
    font-family: Arial, sans-serif;
    background-color: #B5B2B2;
    margin: 0;
    padding: 20px;
}

header {
    background-image: url(goty.png);
    background-repeat: no-repeat;
    background-position: 400px;
    background-size:cover
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


h1 {
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 170px; 
}

.game-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.game-card img {
    width: 100%; 
    height: auto;
}
